:root {
  --background: radial-gradient(circle 60vw at top left, #3b4752, #202931), #202931;
}

body {
  cursor: url("/cursor.png"), auto;
  transition: all 0.3s ease;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: right;
  background: transparent;
}

.navbar ul {
  display: flex;
  right: 0;
  gap: 50px;
  margin: 8vh 20vw 0 0;
}

.navbar li {
  color: #e3e9ef;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1;
  transition: all 0.3s ease;
}

.navbar li:hover {
  transform: scale(0.98);
  opacity: 40%;
}

a {
  cursor: url("/cursor.png"), auto;
}

.main-page {
  margin: 10vh 0 0;
}

.bg-main {
  object-fit: cover;
  object-position: right;
}

.title {
  padding: 20vh 0 0 10vw;
  width: 25vw;
}

.content-page {
  background: linear-gradient(to bottom, #070707 5%, #24262a, #38534d, #3e594a, #355c69);
}

.boutus-container {
  margin: 0 20vw;
  padding: 30vh 0;
}

.boutus-container p {
  margin: 10vh 0 20vh;
  text-align: justify;
}

.project-container {
  margin: 0 10vw;
}

.project {
  margin: 10vh 0;
  position: relative;
  display: flex;
  gap: 2vw;
}

.project.reverse {
  flex-direction: row-reverse;
}

.project > :first-child {
  position: relative;
  aspect-ratio: 16/9;
  width: 50%;
}

.project > :last-child {
  position: relative;
  width: 50%;
}

.project img {
  border-radius: 10px;
  object-fit: cover;
}

.project h3 {
  font-size: 2rem;
  font-weight: 600;
}

.project p {
  margin: 20px 0 40px;
}

.btn-v2 {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.btn-v2:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: url("/cursor.png"), auto;
}

.content-page {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 10vh;
}

.boutus-page {
  scroll-snap-align: center;
}

.boutus-container,
.project {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
  transition-delay: 0.2s;
}

.boutus-container.visible,
.project.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1520px) {
  .title {
    width: 30vw;
  }
}

@media (max-width: 1024px) {
  .title {
    padding: 15vh 0 0 10vw;
    width: 40vw;
  }
}

@media (max-width: 928px) {
  .bg-main {
    object-position: 85% center;
  }
  .project-container {
    margin: 0 5vw;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .project {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .project > :first-child {
    width: 80%;
  }

  .project > :last-child {
    width: 100%;
  }
}

@media (max-width: 724px) {
  .title {
    padding: 20vh 0 0 10vw;
    width: 50vw;
  }
}

@media (max-width: 512px) {
  .project > :first-child {
    width: 100%;
  }
  .title {
    padding: 20vh 0 0 10vw;
    width: 60vw;
  }
}
